<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的dao/mapper接口-->
<mapper namespace="com.monet.dao.UserMapper">


    <!--结果集映射-->
    <resultMap id="UserMap" type="User">
        <!--column对应数据库中的字段,property对应实体类中的属性-->
        <result column="pwd" property="pwd"/>
    </resultMap>

    <select id="getUserById" resultMap="UserMap">
        select * from mybatis.user where id=${id};
    </select>

</mapper>